@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
.restaurant-card {
  width: 200px;
  padding: 20px;
  background-color: white;
  font-family: outfit;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add box shadow */
  transition: transform 0.2s; /* Smooth transition for hover effect */
}

.restaurant-card:hover {
  transform: translateY(-5px); /* Lift effect on hover */
}

  
  .restaurant-card h3 {
    margin: 10px 0;
  }
  
  .restaurant-card p {
    color: #666;
  }
  